@tailwind base;
@tailwind components;
@tailwind utilities;

/* html{
    background-image: url('https://t3.ftcdn.net/jpg/03/89/94/34/360_F_389943415_0IMXIfCIo4OUzwtsIhxCGeKEdRrhvNym.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(17, 25, 40, 0.75);
    backdrop-filter: blur(19px) saturate(180%);
} */